---
- hosts: all
  become: yes
  name: Rolling Reboot
  serial: 1
  vars:
    health_osd_check_retries: 40
    health_osd_check_delay: 30
    mon_group_name: "mons"
    cluster: "ceph"
    reboot_required_path: "/var/run/reboot-required"
  tasks:
    - import_tasks: ../common-tasks/ceph_rolling_reboot.yml
