[Unit]
Description=Relay ceph radosgw access logs
After=ceph-radosgw.target rsyslog.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/sbin/ceph-rgw-log-relay.sh

[Install]
WantedBy=multi-user.target
